a{
     text-decoration: none !important;
     color: inherit !important;

}
.filters {
     background-color: #343a40;
     color: white;
     padding: 20px;
     display: flex;
     flex-direction: column;
     /* width: 30%; */
     margin: 10px;
     /* height: 86vh; */
   }
   
   .filters > span {
     padding-bottom: 20px;
   }
   